main{
  font-family: 'Roboto', sans-serif;

}

:focus{
  outline: none!important;
}

.color1{
  background-color: #167D7F!important;
}

.text-color-1{
  color: #167D7F!important;
}

.confirm-btn{
  border-radius: 10px!important;
  text-transform: capitalize;
  font-size: 16px;
}

.modal-backdrop{
  background-color: transparent;
  position: bottom;
}

.login-page{
    background-color: #167D7F;
    height: 100vh;
    width: 100%!important;
    max-width: 100%;
    z-index: 0;
    overflow: hidden;
    position: fixed;
} 

.ss-logo-splash{
    height: 85px;
    width: auto;
    margin-top: 195px;
}

.swap{
  vertical-align: 0.1;
  margin-top: -1px!important;
  height: 93px;
}

.login-container{
  width: 100%;
  background-color: #2e99aa;
}

.login-modal{
    background: none!important;
    width: 100%!important;
    height: auto;
    color: white;
    font-size: 18px;
    z-index: 1!important;
}

.login-modal-body{
    background: #0000007d !important;
    width: 100%!important;
}

.kep-login-facebook.metro {
    background-color: #4267B2!important;
    border-radius: 10px!important;
    text-transform: capitalize!important;
    font-size: 16px!important;
    padding: 10px 40px;
}

.intro-form-page{
    height: 100%;
    width: 100%!important;
    max-width: 100%;
    padding: 35px 5%;
    color: #167D7F;
}

.ss-logo-text{
    color: #2e99aa;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.intro-form-container{
    height: 100%;
    width: 100%;
}

.stepper-container {
  display: none!important;
  flex-wrap: nowrap;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.intro-form-title{
    font-size: 24px;
    font-weight: bold;
}

.category-box{
    max-height: 250px;
    min-height: 250px;
    max-width: 250px;
    min-width: 250px;
    padding: 140px;
}

.category-name{
    font-weight: bold;
    font-size: 18px;
    color: white;
}

input[type="checkbox"][id^="myCheckbox"] {
    display: none;
  }
  
label{
    border: 1px solid #fff;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    text-align: center;
  }
  
label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
label img {
    height: 250px;
    width: 250px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    object-fit: cover;
  }
  
:checked + label {
    background-color: #00000078;
  }
  
:checked + label:before {
    content: "✓";
    background-color: #167D7F;
    transform: scale(1.1);
    height: 30px;
    width: 30px;
    z-index: 1;
  }
  
:checked + label img {
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}

.category-view:hover{
    cursor: pointer;
}

.next-back-btn{
    border: none;
    background-color: transparent;
    color: #167D7F;
    font-size: 20px;
  }

.fileInput{
  height: 100%;
  width: 100%;
  cursor: pointer;
  }
  
.imgPreview{
  text-align: center;
  margin: 5px 15px;
  height: 300px;
  width: 300px;
  border-left: 1px solid #167D7F;
  border-right: 1px solid #167D7F;
  border-top: 1px solid #167D7F;
  border-bottom: 1px solid #167D7F;
  border-radius: 10px;
  object-fit: cover!important;
  object-position: center;
}

img.image-preview{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none!important;
  border-color: transparent!important;
  object-fit: cover;
  object-position: center;
}

.previewText{
  margin-top: 130px;
}
  
.submitButton{
  color: white;
  padding: 5px 15px;
  background-color: #29A0B1!important;
  border: 4px solid #29A0B1;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  background: #efefef;
  margin-top: -200px;
}

.upload-item-input {
  color: transparent;
}

.upload-item-input:focus{
  border-color: transparent!important;
  outline-style: hidden;
}

.upload-item-input::-webkit-file-upload-button {
  visibility: hidden;
}

.upload-item-input::-webkit-file-upload-button::selection {
  border-color: transparent!important;
}

.upload-item-input::before {
  content: 'Choose File';
  color: #167D7F;
  display: inline-block;
  background: transparent;
  border-radius: 3px;
  padding: 4px;
  outline: none!important;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  width: 100%;
}
.upload-item-input:hover::before {
  border-color: black;
}
.upload-item-input:active {
  outline: 0;
}
.upload-item-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.upload-item-input:focus{
  border-color: transparent!important;
  border: none;
}

.swiper{
  height: 560px!important;
  width: 320px!important;
}

.navbar-logo{
  cursor: pointer;
}

.sidemenu-logo{
  font-size: 32px;
  color: #29A0B1;
  font-weight: bold;
}

.sidemenu-logo span{
  color: #167D7F;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #167D7F;
  border-color: #167D7F;
}

.sidemenu-list{
  border: none!important;
  border-color: transparent!important;
  font-size: 18px;
}

.sidemenu-footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #167D7F;
  color: white;
  font-size: 18px;
}

.sidemenu-footer:hover{
  font-weight: bold;
}

.homepage-container{
  margin-top: 125px!important;
}

.item-img{
  object-fit: cover;
  object-position: center!important;
  height: 90px;
  width: 90px;
  border-radius: 10px;
  background-color: lightgray;
}

.item-img-modal{
  object-fit: cover;
  object-position: center!important;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: lightgray;
}

.ss-btns-dsk{
  text-transform: capitalize!important;
  font-size: 20px;
  margin-top: 0px;
}

.ss-btn-want{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  color: #00c851!important;
  border-radius: 50%;
  padding: 13px 10px;
  font-size: 20px;
  text-align: center;
  width: 180px;
  height: 180px;
  border: 2px solid #00c851!important;
  text-transform: capitalize;
}

.ss-btn-want i{
  font-size: 70px!important;
}

.ss-btn-want:hover{
  background-color: #00c851!important;
  color: white!important;
}

.ss-btn-boring{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  color: red!important;
  border-radius: 50%;
  padding: 13px 10px;
  font-size: 20px;
  text-align: center;
  width: 180px;
  height: 180px;
  border: 2px solid red!important;
  text-transform: capitalize;
}

.ss-btn-boring i{
  font-size: 78px!important;
}

.ss-btn-boring:hover{
  background-color: red!important;
  color: white!important;
}

.ss-btn-swant{
  color: #4285f4 !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  border-radius: 50%;
  padding: 13px 10px;
  font-size: 20px;
  text-align: center;
  width: 180px;
  height: 180px;
  border: 2px solid #4285f4!important;
  text-transform: capitalize;
  border: 2px solid #4285f4;
}

.ss-btn-swant i{
  font-size: 70px!important;
}

.ss-btn-swant:hover{
  background-color: #4285f4!important;
  color: white!important;
}

.ss-btn-rewind{
  color: #ffbb33 !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  border-radius: 50%;
  padding: 13px 10px;
  font-size: 20px;
  text-align: center;
  width: 180px;
  height: 180px;
  border: 2px solid #ffbb33!important;
  text-transform: capitalize;
  border: 2px solid #ffbb33;
}

.ss-btn-rewind i{
  font-size: 70px!important;
}

.ss-btn-rewind:hover{
  background-color: #ffbb33!important;
  color: white!important;
}

.ss-btn-boost{
  color: #a6c !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  border-radius: 50%;
  padding: 13px 10px;
  font-size: 16px;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px solid #a6c!important;
  text-transform: capitalize;
  border: 2px solid #a6c;
}

.ss-btn-boost:hover{
  background-color: #a6c!important;
  color: white!important;
}

.ss-btns-m{
  display: none;
}

.ss-btn-want-m{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  color: #00c851!important;
  border-radius: 50px;
  padding: 16px 10px;
  font-size: 30px;
  text-align: center;
  width: 70px;
  height: 70px;
}

.ss-btn-boring-m{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  color: red!important;
  border-radius: 50px;
  padding: 14px 10px;
  font-size: 34px;
  text-align: center;
  width: 70px;
  height: 70px;
}

.ss-btn-swant-m{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  color: #4285f4!important;
  border-radius: 50px;
  padding: 14px 10px;
  font-size: 30px;
  text-align: center;
  width: 70px;
  height: 70px;
}

.ss-btn-rewind-m{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  color: #ffbb33!important;
  border-radius: 50px;
  padding: 15px 10px;
  font-size: 30px;
  text-align: center;
  width: 70px;
  height: 70px;
}

.ss-btn-boost-m{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 025);
  background-color: white!important;
  color: #a6c!important;
  border-radius: 50px;
  padding: 16px 10px;
  font-size: 30px;
  text-align: center;
  width: 70px;
  height: 70px;
}

.item-img-slider{
  width: 100%!important;
  height: 342px!important;
  background-color: lightgray;
  padding: 0%!important;
}

.item-img-slider img{
  width: 100%!important;
  height: 342px!important;
  object-fit: cover;
  object-position: center!important;
  background-color: lightgray;
}

.swipe-item{
  color: white!important;
  text-shadow: 1px 1px black;
}

.swipe-item-details{
  position: absolute!important;
  bottom: 0!important;
  width: 100%;
}
.item-name{
  font-size: 24px;
  font-weight: bold;
}

.item-distance{
  font-size: 16px;
}

.item-description{
  font-size: 14px;
}

.item-user-profile{
  font-size: 16px;
  border-top: 1px solid lightgrey;
  width: 100%;
}

.item-user-profile img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.item-user-profile-name{
  vertical-align: middle;
  font-weight: bold;
}

.view-profile-btn{
  color: #167D7F!important;
  background-color: white!important;
  border: 1px solid;
  border-color: #167D7F!important;
  border-radius: 10px;
  height: auto;
  width: 120px;
  object-fit: cover;
  object-position: center;
  font-size: 12px!important;
  padding: 5% 10%!important;
}

.view-profile-btn:active{
  color: white!important;
}

.want-ignore-btn{
  text-transform: capitalize;
  border-radius: 10px!important;
  font-size: 16px;
}

.modal-btn-sm{
  text-transform: capitalize;
  border-radius: 10px!important;
  font-size: 14px;
  width: 120px;
}

.conversation-container{
  margin-top: 90px;
}

.chat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid lightgrey;
  padding: 40px 0px;
}

.chat-details p{
  font-size: 14px;
  color: grey;
  font-weight: normal;
}

.chat-details{
  flex: 1;
  font-size: 18px;
  color: grey;
  font-weight: bold;
}

.chat-timestamp{
  color: lightgrey;
  font-size: 14px;
}

.chat-image{
  height: 60px;
  width: 60px;
}

.page-title{
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  color: #167D7F;
}

.conversation-search{
  margin-top: -20px;
}

.chat-screen-container{
  margin-top: 62px;
  height: 100%;
}

.chat-screen-navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.chat-screen-message{
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-screen-image{
  height: 40px;
  width: 40px;
}

.chat-screen-text{
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
  word-wrap: break-word!important;
  max-width: 300px;
}

.chat-screen-text-user{
  margin-left: auto;
  background-color: #98D7C2;
  padding: 15px;
  border-radius: 20px;
  color: white;
  word-wrap: break-word!important;
  max-width: 300px;
}

.chat-screen-input{
  display: flex;
  position: sticky!important;
  bottom: 1;
  width: 1140px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  z-index: 3;
}

.chat-screen-input-field{
  flex: 1;
  padding: 10px;
  border: none;

}

.chat-screen-input-btn{
  border: none;
  margin-right: 20px;
  background-color: white;
  font-weight: bolder;
  color: #29A0B1;
}

.chat-screen-chats{
  height: auto;
  width: 100%;
}

.unread-notification{
  border-radius: 10px;
  background-color: #167D7F;
  max-height: 100px!important;
}

.read-notification div{
  border-radius: 10px;
  background-color: #98D7C2;
  color: black!important;
}

.notifications-container{
  margin-top: 90px;
}

.notif-name{
  color: white;
  font-weight: bold;
}

.notif-message{
  color: white;
  font-size: 14px;
  overflow: hidden; 
}

.notif-timestamp{
  color: lightgray;
  font-size: 12px;
}

.notif-image{
  height: 63px;
  width: 63px;
}

.notif-pills{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 105px;
  height: 35px;
  color: black;
  border-radius: 10px!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: transparent;
  font-weight: bold;
  color: black!important;
}

.chat-swap-img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.chat-swap-img img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.chat-swap-avatar img{
  height: 45px;
  width: 45px;
  border: 3px solid white;
}

.chat-swap-btn-ignore{
  background-color: white!important;
  border-radius: 10px!important;
  color: black!important;
  text-transform: capitalize;
  font-size: 14px;
  width: 150px;
}

.chat-swap-btn-ignore:active{
  color: white!important;
}

.chat-swap-btn-approve{
  background-color: #167D7F!important;
  border-radius: 10px!important;
  text-transform: capitalize;
  font-size: 14px;
  width: 150px;
}

.chat-screen-content{
  margin-top: 95px;
  height: 695px;
}

.profile-container{
  margin-top: 85px;
}

img.profile-avatar{
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  margin-right: 50px;
  border: 3px solid #167D7F;
  padding: 1%;
}

.profile-avatar{
  border: solid 4px #167D7F;
  padding: 1%;
}

.profile-name{
  font-weight: bold;
  font-size: 22px;
}

.profile-details{
  font-size: 20px;
}

.edit-profile-btn{
  border-radius: 10px;
  padding: 2px;
  border-color: grey!important;
}

.edit-profile-btn:hover{
  background-color: #29A0B1;
  border-color: #29A0B1!important;
  color: white;
  cursor: pointer;
}

.edit-profile-btn{
  border: 1px solid black;
  width: 100%;
}

.profile-tabs{
  width: 100%!important;
}

.profile-tabs a{
  color: grey!important;
}

.profile-tab{
  border: none;
  width: 25%;
  text-align: center;
}

.profile-tab a{
  color: black;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.item-gallery-image{
  height: 100%;
  width: 100%;
  background-image: url(../assets/images/additem.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.item-gallery-image img{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.item-grid{
  height: 50%!important;
}

.swapped-item img{
  opacity: 0.5!important;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.swapped-item img:hover{
  opacity: 1.0!important;
  cursor: pointer;
}

.swap-item-img{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  object-position: center;
  object-fit: cover;
}

.badges-title{
  font-weight: bold;
  font-size: 20px;
  color: #167D7F;
}

.badge-icon{
  height: 40px;
  width: 40px;
  object-position: center;
  object-fit: contain;
}

.badges{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0px;
}

.badges-details p{
  font-size: 14px;
  color: grey;
  font-weight: normal;
}

.badges-details{
  flex: 1;
  font-size: 18px;
  color: grey;
  font-weight: bold;
}

.badges-count{
  font-size: 14px;
  color: #167D7F;
}

.reviews{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  border-bottom: 1px solid lightgrey;
}

.reviews-details p{
  font-size: 12px;
  color: grey;
  font-weight: normal;
}

.reviews-details{
  flex: 1;
  font-size: 16px;
  color: grey;
}

a.profile-link{
  color: #167D7F!important;
}

.profile-item-details{
  margin-top: 100px;
}

.profile-item-details-card{
  width: 800px;
}

.profile-item-details-content{
  max-width: 100%;
  width: 100%;
}

.angle-left-icon{
  font-size: 32px;
  color: #167D7F;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.item-img-car{
  height: 375px!important;
  width: 100%!important;
  max-width: 375px;
}

.item-img-car img{
  height: 375px;
  width: auto;
  object-position: center;
  object-fit: cover;
}

.settings-container{
  padding-top: 90px;
}

.settings-header{
  font-size: 16px;
  font-weight: bold;
}

.settings-list{
  color: #167D7F;
  font-size: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 12px 12px!important;
}

.settings-list:hover{
  background-color: #167D7F;
  color: white;
  cursor: pointer;
}

.edit-categories-container{
  margin-top: 90px;
}

.avatar-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 3px;
  cursor: pointer;
  border: 4px solid #167D7F;
  margin-bottom: 25px;
}

.avatar-img-wrap{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-img-upload:before{
  content: url('../assets/icons/upload.png');
  font-size: 190px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.avatar-img-upload:hover:before{
 opacity: 1;
}

.avatar-upload input[type="file"] {
  display: none;
}

.item-imgs{
  object-fit: cover;
  object-position: center;
}

.fileContainer {
  background: #fff;
  box-shadow: 0px 0px 6px 0 lightgrey!important;
  position: relative;
  border-radius: 10px;
  padding: 0px!important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  transition: all 0.3s ease-in;
}

.fileContainer p {
  font-size: 12px;
  margin: 8px 0 4px;
  display: none;
}

.fileContainer .uploadIcon {
  width: 150px;
  height: 150px;
}

.fileContainer .uploadPictureContainer {
  width: 150px!important;
  height: 150px!important;
  margin: 2%!important;
  padding: 3px!important;
  background: none!important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  box-shadow: none!important;
  border: 1px solid #167D7F!important;
  position: relative;
  border-radius: 10px;
}

.fileContainer .uploadPictureContainer img.uploadPicture {
  width: 100%;
  height: 100%;
  object-position: center!important;
  object-fit: cover!important;
  border-radius: 10px;
}

.fileContainer .chooseFileButton {
  background: url('../assets/icons/upload.png')!important;
  padding: 6px 23px;
  box-shadow: none!important;
  background: white!important;
  border-radius: 30px;
  color: #167D7F!important;
  font-weight: bold!important;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #167D7F!important;
}

.back-icon{
  padding-bottom: 300px;
  margin-left: -9%;
}

.swap-coins-amount{
  font-size: 32px;
  color: #167D7F;
  font-weight: bold;
}

.login-claim-list li{
  border: none!important;
  font-weight: bold;
  color: grey;
  font-size: 16px;
  text-align: center;
}

.earn-swapcoins{
  padding: 0px 35px;
}

.earn-swapcoins-list a{
  color: #167D7F;
}
.add-item-container{
  bottom: 0!important;
  margin-bottom: 30px!important;
  margin-right: 0px!important;
}

.add-item-btn{
  background-color: #29A0B1 !important;
}

.add-item-btn:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.1);
  font-size: 24px!important;
}

.marketplace-container{
  margin-top: 90px;
}

.marketplace-search{
  border-color: #167D7F!important;
  max-width: 600px;
  border: 2px solid;
  border-radius: 10px;
}

.marketplace-swapcoins{
  color: #167D7F;
  font-weight: bold;
  font-size: 20px;
}

.marketplace-col{
  height: 350px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

.custom-mask:hover{
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.marketplace-item{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: url(../assets/icons/sslogo2.png);
  background-size: contain;
  background-color: #167D7F;
  background-repeat: no-repeat;
  background-position: center;
}

.marketplace-item img{
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.marketplace-item-value{
  font-weight: bold;
  font-size: 18px;
}

.marketplace-item-details{
  position: absolute;
  bottom: 0;
  font-size: 18px;
}

.coming-soon{
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.chatApp{
  background-color: blue ;
}

.chatApp__loaderWrapper {
	margin: 80px auto;
	text-align: center;
}
.chatApp__loaderText {
	color: #4870df;
	font-weight: bold;
}
.chatApp__loader,
.chatApp__loader::before,
.chatApp__loader::after {
	border-radius: 1em;
	width: 1em;
	height: 1em;
	animation-fill-mode: both;
	animation: loading 1.8s infinite ease-in-out;
}
.chatApp__loader {
	margin: auto;
	color: #4870df;
	font-size: 12px;
	position: relative;
	animation-delay: -0.16s;
}
.chatApp__loader::before,
.chatApp__loader::after {
	content: '';
	position: absolute;
	top: 0;
}
.chatApp__loader::before {
	left: -1.5em;
	animation-delay: -0.32s;
}
.chatApp__loader::after {
	left: 1.5em;
}
.chatApp__room {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	animation: fadeChatApp 0.6s ease-in-out;
  animation-fill-mode: forwards;
}
.chatApp__conv {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	float: left;
	margin: 0 2.5rem;
	box-shadow: 0 35px 20px -30px rgba(0,0,0,0.1);
}
.chatApp__convTitle {
	display: inline-block;
	margin: 0 0 2rem 0;
	font-size: 18px;
	font-weight: bold;
	color: #f0f0f0;
	text-transform: uppercase;
	position: relative;
}
.chatApp__convTitle::after {
	content: '';
	position: absolute;
	background-color: #4870df;
	width: 100%;
	height: 2px;
	border-radius: 30px;
	left: 0;
	right: 0;
	bottom: -16px;
}
.chatApp__convTimeline {
	display: flex;
	height: 300px;
	padding: 1rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #fff;
	flex-direction: column-reverse;
	overflow-y: auto;
}
.chatApp__convMessageItem {
	padding: 1rem 0 0 0;
	opacity: 0;
	transition: all 0.15s ease-in-out;
	animation: fadeNewMessage 0.5s;
	animation-fill-mode: forwards;
}
.chatApp__convMessageAvatar {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.chatApp__convMessageValue {
	position: relative;
	max-width: 50%;
	min-height: 40px;
	padding: 0.75rem;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.08);
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}
.chatApp__convMessageItem--left .chatApp__convMessageAvatar {
	float: left;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue {
	float: left;
	text-align: left;
	margin: 0 0 0 1rem;
	color: #fff;
	background-color: #4870df;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue::before {
	content: '';
	position: absolute;
	top: 14px;
	left: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 10px 6px 0;
	border-color: transparent #4870df transparent transparent;
}
.chatApp__convMessageItem--right .chatApp__convMessageAvatar {
	float: right;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue {
	float: right;
	text-align: right;
	margin: 0 1rem 0 0;
	background-color: #fafafa;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue::after {
	content: '';
	position: absolute;
	top: 14px;
	right: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 10px;
	border-color: transparent transparent transparent #fafafa;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue a {
	color: #91ffb1;
}
.chatApp__convMessageItem--left .chatApp__convMessageValue a:hover,
.chatApp__convMessageItem--left .chatApp__convMessageValue a:focus {
	color: #75ff9e;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue a {
	color: #09f;
}
.chatApp__convMessageItem--right .chatApp__convMessageValue a:hover,
.chatApp__convMessageItem--right .chatApp__convMessageValue a:focus {
	color: #007dd1;
}
.chatApp__convSendMessage {
	position: relative;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fff;
}
.chatApp__convSendMessage {
	padding: 1rem;
}
.chatApp__convInput {
	float: left;
	height: 40px;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 40px;
	margin: 0 0.5rem 0 0;
	width: calc(100% - 52px);
	background-color: #dedfed;
	box-shadow: inset 0 0 0 2px #dedfed;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	transition: 0.15s all ease-in-out;
	box-sizing: border-box;
}
.chatApp__convInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #b1b1b1;
	opacity: 1;
}
.chatApp__convInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #b1b1b1;
}
.chatApp__convInput::-ms-input-placeholder { /* Microsoft Edge */
	color: #b1b1b1;
}
.chatApp__convInput:focus, .chatApp__convInput:active {
	box-shadow: inset 0 0 0 2px #7690d6;
}
.chatApp__convInput:focus {
	outline: none;
}
.chatApp__convButton {
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	padding: 8px;
	border-radius: 30px;
	color: #fff;
	background-color: #4870df;
	text-align: center;
	box-shadow: 0px 14px 10px -8px rgba(0,0,0,0.2);
	transition: 0.15s all ease-in-out;
	box-sizing: border-box;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.chatApp__convButton:hover {
	background-color: #3c559c;
}
.chatApp__convButton i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 0 0 1px;
	font-size: 22px;
}
.chatApp__convButton--loading {
	cursor: wait;
	background-color: #4870df;
}
.chatApp__convButton--loading:hover {
	background-color: #4870df;
}
.chatApp__convButton--loading::before, .chatApp__convButton--loading::after {
	content: '';
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	margin: auto;
	border-radius: 40px;
	background-color: #fff;
}
.chatApp__convButton--loading::after {
	animation: loadSendMessage 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.chatApp__convButton--loading i {
	display: none;
}
.chatApp__convSendMessage--typing .chatApp__convTyping {
	display: block;
}
.chatApp__convTyping {
	position: absolute;
	top: 0;
	font-size: 10px;
	font-weight: bold;
}
.chatApp__convTypingDot {
	position: relative;
	left: 4px;
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #606060;
	animation: typingMessage 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.chatApp__convTypingDot::before, .chatApp__convTypingDot::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #606060;
	animation: typingMessage 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.chatApp__convTypingDot::before {
	left: 4px;
	animation-delay: 0.5s;
}
.chatApp__convTypingDot::after {
	left: 8px;
	animation-delay: 1s;
}
@media screen and (max-width:768px) {
	.chatApp__room { flex-wrap: wrap; padding: 2rem 1rem; }
	.chatApp__conv { flex-basis: 100%; min-width: auto; width: 100%; margin: 0; }
	.chatApp__conv:first-of-type { margin: 0 0 4rem 0; }
}
@keyframes loading {
	0%, 80%, 100% { box-shadow: 0 1em 0 -1.3em; }
	40% { box-shadow: 0 1em 0 0; }
}
@keyframes fadeChatApp {
	0% { opacity: 0; transform: translateY(1rem); }
	100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fadeNewMessage {
	0% { opacity: 0; transform: translateY(1rem); }
	100% { opacity: 1; transform: translateY(0px); }
}
@keyframes loadSendMessage {
	0% { opacity: 1; width: 4px; height: 4px; }
	100% { opacity: 0; width: 100%; height: 100%; }
}
@keyframes typingMessage {
	0% { background-color: #606060; }
	50% { background-color: #fff; }
	60% { background-color: #606060; }
}

.item-prev-col{
  height: 100%;
  width: 100%;
  padding: 0%;
}

.item-prev-upload {
  position: relative;
  cursor: pointer;
  border: 1px solid #167D7F;
  height: 200px!important;
  width: 200px!important;
}

.item-prev-upload-wrap{
  position: relative;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.item-prev-upload-wrap img{
  background-image: url(../assets/images/additem.png);
  background-size: cover!important;
  background-position: center!important;
  height: 100%;
  width: 100%;
}

.item-prev-upload-img:before{
  content: url('../assets/icons/upload.png');
  font-size: 175px;
  top: 45%;
  left: 50%;
  position: absolute;
  width: 125%;
  height: 125%;
  transform: translate(-50%, -45%);
  text-align: center;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.item-prev-upload-img:hover:before{
 opacity: 1;
}

.item-prev-upload input[type="file"] {
  display: none;
}

.landing-title{
  font-size: 50px;
  font-weight: bold;
  vertical-align: 1px;
  line-height: 50px;
}

.landing-title-desc{
  font-size: 34px;
  font-weight: bold;
  color: #167D7F;
}

.landing-navbar{
  font-size: 20px;
}

.landing-navbar a:hover{
  color: #167D7F!important;
  font-weight: bold;
}

.landing-navbar i{
  font-size: 14px;
  color: #167D7F;
  margin-left: 11px;
}

.landing-carousel{
  height: 100vh;
  width: 100%;
  box-shadow: 0px 4px 4px black;
}

a.carousel-control-prev:hover .carousel-control-prev-icon  {
  display: block!important;
}

a.carousel-control-next:hover .carousel-control-next-icon  {
  display: block!important;
}

.carousel .carousel-control-prev-icon {
  height: 45px;
  width: 45px;
  background-image: url(/static/media/arrow_left.11911410.svg);
  display: none;
  opacity: 40%;
  transition: .5s;
  background-color: black;
  border-radius: 50%;
}

.carousel .carousel-control-next-icon {
  height: 45px;
  width: 45px;
  background-image: url(/static/media/arrow_right.8ef6a08c.svg);
  display: none;
  opacity: 40%;
  transition: .5s;
  background-color: black;
  border-radius: 50%;
}

.carousel .carousel-control-prev-icon:hover {
  opacity: 100%;
}

.carousel .carousel-control-next-icon:hover {
  opacity: 100%;
}

.landing-carousel-inner{
  height: 100%;
}

.landing-carousel img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.landing-carousel-video video{
  object-position: center;
  object-fit: contain!important;
  height: 100vh;
  width: 100%;
}

.landing-carousel-caption{
  height: 100vh;
  width: auto;
  padding-top: 100px;
}

.caption-content-title{
  font-size: 64px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  line-height: 40px;
  white-space: nowrap;
  min-width: 0px;
  min-height: 0px;
  transform: rotate(0deg);
  opacity: 1;
  left: 46.5px;
  top: 126px;
  visibility: visible;
  float: left;
  font-weight: 500;
  margin-bottom: 20px;
}

.caption-content-desc{
  text-transform: capitalize;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  line-height: 40px;
  white-space: nowrap;
  min-width: 0px;
  min-height: 0px;
  transform: rotate(0deg);
  opacity: 1;
  left: 46.5px;
  top: 126px;
  visibility: visible;
  float: left;
  font-weight: bold;
  font-family: Open Sans sans-serif!important;
  margin-bottom: 5px;
}

.caption-content-img{
  height: 450px;
  width: 100%;
}

.caption-content-img img{
  height: 100%;
  width: auto;
}

.caption-content-title div{
  padding-top: 0%!important;
}

.section-1{
  margin: 2% 19% 2% 19%;
}

.section-1-carousel{
  max-height: 450px;
}

.section-1-carousel-inner{
  max-height: 450px;
  object-fit: cover!important;
  object-position: center!important;
}

.section-1-carousel img{
  object-fit: cover!important;
  object-position: center!important;
  height: auto;
}

.section-1-title{
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 1%;
}

.section-1-desc{
  font-size: 13px;
}

.section-1-btn{
  font-size: 20px;
  box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.45) inset, 0 2px 2px rgba(0, 0, 0, 0.25);
  background-color: #167D7F!important;
}

.section-1-btn:hover{
  background-color: black!important;
}

.section-2{
  width: 100%;
}

.section-2 img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.mobile-slider{
  height: 150px!important;
}

.device {
  position: absolute;
  height: 605px;
  width: 358px;
  margin: 0 0 0 -178px;
  left: 50%;
  background: url('../assets/images/mobile.png') no-repeat center center;
  background-size: contain;
}

.device-content {
 position: absolute;
 top: 54px  ;
 left: 56px;
 width: 247px;
}

.device-content img {
 width: 247px;
 height: 444px!important;
}

.section-2-carousel-inner{
  background-color: black;
}

.section-2-carousel-inner img{
  height: 500px!important;
  object-position: center;
  object-fit: contain;
  border-radius: 5%;
}

.section-3{
  margin: 2% 19% 2% 19%;
}

.section-3 i{
  font-size: 85px;
}

.section-3-title{
  font-weight: bold;
  font-size: 24px;
  color: #167D7F;
}

.section-3-desc{
  font-size: 14px;
}

.section-3-item:hover{
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204);
}

.section-3-item:hover i {
  transform: rotate(-10deg);
  transition: 0.5s;
}

.section-4-carousel{
  height: 365px;
  box-shadow: 0px 0px 20px 0px rgba(204, 204, 204)!important;
}

.section-4-carousel-inner{
  height: 100%;
}

.section-4-carousel-inner img{
  height: 375px;
  width: 100%;
  object-fit: cover;
  object-position: center!important;
}

.section-4-desc{
  font-size: 20px;
  color: white!important;
  padding: 0% 20% 0% 20%;
}

.section-5{
  margin: 2% 19% 2% 19%;
}

.section-5-card img{
  height: 205px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.section-5-card:hover{
  background-color: black;
  color: white;
}

.section-5-card p{
  font-size: 13px!important;
}

.section-5-card p:hover{
  color: white!important;
}

.section-5-card-title{
  border-style: double none double none;
  border-color: lightgray;
  padding: 2% 0%;
  font-size: 21px;
}

.ss-footer{
    height: 325px!important;
    width: 100%;
}

.ss-footer-mask{
  padding: 100px 25%;
}

.ss-footer img{
  height: 325px;
  object-fit: cover;
  object-position: center;
}

.ss-footer-title{
  background-color: black;
  height: auto;
  width: 100%;
  border-left: #167D7F solid 4px;
  border-right: #167D7F solid 4px;
  font-size: 34px;
  font-weight: bold;
  color: white;
}

.footer-icon{
  background-color: #167D7F;
  font-size: 30px;
  border-radius: 50%;
  padding: 5%;
  height: 60px;
  width: 60px;
}

.footer-icon i{
  color: black;
}

.footer-icon-container{
  margin: 2%;
}

a.landing-navbar-link{
  color: white!important;
}

a.active-nav-item{
  font-weight: bold;
  color: #167D7F!important;
  transition: width 2s;
}

.notif-btn-accept{
  height: 30px;
  background-color:white!important;
  border-radius: 10px;
  width: 150px;
  color: #167D7F;
  font-weight: bold;
}

.notif-btn-accept:hover{
  background-color: #98d7c2!important;
  color: white;
}

.notif-btn-decline{
  height: 30px;
  background-color: #f05353!important;
  border-radius: 10px;
  width: 150px;
  font-weight: bold;
}

.notif-btn-decline:hover{
  background-color: red!important;
}
cta-login-modal-header{
  background-color: #167D7F;
  border-bottom: 0px transparent!important;
}
.cta-login-modal-body{
  background-color: #167D7F;
  border-top: 0px transparent!important;;
}
.cta-login-modal{
  animation-delay: 0s!important;
  animation: mymove 15s;
}
@keyframes mymove {
  from {top: -200px;}
  to {top: 0px;}
}
.ss-logo-modal{
  height: 60px;
  width: 250px;;
}
.swipeswap-slider img{
  height: 500px;;
}
a.carousel-control-prev {
  visibility: hidden;
}

.cta-login-modal-header{
  background-color: #167D7F;
  border-bottom: 0px transparent!important;
}

.cta-login-modal-body{
  background-color: #167D7F;
  border-top: 0px transparent!important;;
}

.cta-login-modal{
  animation-delay: 0s!important;
  animation: mymove 15s;
}

@keyframes mymove {
  from {top: -200px;}
  to {top: 0px;}
}

.ss-logo-modal{
  height: 60px;
  width: 250px;;
}

.swipeswap-slider img{
  height: 500px;;
}
